
.statsContainer {
    background-color: white;
    min-width: 50%;
    max-width: 80%;
    min-height: 50%;
    border-radius: 15px;
    margin: auto;
    margin-top: 70px;
    font-family: sans-serif;
}

.statsContainer h1 {
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}


.statsDisplay {
    display: grid;
    margin: auto;
    text-align: left;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 50px;
}

.statItem {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    border-bottom: 1px solid lightgray;
    grid-column: 2 / 3;
}

.statItem > div {

}