.filterOptions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.filterOptions .selected {
  border: 3px solid #4242ea;
  padding: 10px;
  margin-top: 25px;
  border-radius: 5px;
  color: #4242ea;
  background-color: #ebff00;
  font-size: 20px;
  font-weight: bold;
}

.filterOptions .selected:hover {
  cursor: pointer;
  font-size: 22px;
  padding: 6px;
  transition: ease-in;
}
.filterOptions .hidden {
  border: 3px solid #ebff00;
  padding: 10px;
  margin-top: 25px;
  border-radius: 5px;
  color: #ebff00;
  background-color: #4242ea;
  font-size: 20px;
  font-weight: bold;
}

.filterOptions .hidden:hover {
  font-size: 22px;
  padding: 6px;
  transition: ease-in;
  cursor: pointer;
}

.filterOptions label input {
  display: none;
}
